{% extends 'base.html' %}
{% load static %}

  {% block title %}
  <title>web终端</title>
  {% endblock title %}

	{% block navheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">作业中心</li>
              <li class="breadcrumb-item active">web终端</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	{% endblock navheader %}
	
		  {% block content %}
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">web终端</h3>
				<div class="card-tools">
				  <button type="button" class="btn btn-tool" data-widget="collapse">
					<i class="fas fa-minus"></i>
				  </button>
				  <button type="button" class="btn btn-tool" data-widget="maximize">
				  <i class="fas fa-expand"></i>
                  </button>
				  <button type="button" class="btn btn-tool" data-widget="remove">
					<i class="fas fa-times"></i>
				  </button>
				</div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
              <table id="datatables-lists" class="table table-bordered table-hover">
                <thead>
                <tr>
				  <th>名称</th>
				  <th>类型</th>
				  <th>环境</th>
				  <th>IP</th>
				  <th>协议</th>
				  <th>端口</th>
				  <th>系统</th>
				  <th>用户名</th>
				  <th>添加时间</th>
				  <th>操作</th>
                </tr>
                </thead>
                <tbody>
				{% for host in hosts %}
                <tr>
				  <td>{{ host.hostname }}</td>
				  <td>{{ host.get_type_display }}</td>
				  <td>{{ host.get_env_display }}</td>
				  <td>{{ host.ip }}</td>
				  <td><span class="badge badge-info">{{ host.get_protocol_display }}</span></td>
				  <td>{{ host.port }}</td>
				  <td>{{ host.release }}</td>
				  {% if host.remote_user %}
				  <td>{{ host.remote_user.username }}</td>
				  {% else %}
				  <td></td>
				  {% endif %}
				  <td>{{ host.create_time|date:"Y/m/d H:i:s" }}</td>
				  <td>
					{% if host.remote_user and host.enabled %}
					{% if host.get_protocol_display == 'ssh' %}
					<form method="post" action="{% url 'webssh:terminal' %}" target="_blank" style="display:inline;">
					{% elif host.get_protocol_display == 'telnet' %}
					<form method="post" action="{% url 'webtelnet:terminal' %}" target="_blank" style="display:inline;">
					{% else %}
					<form method="post" action="#" onsubmit="return false;" style="display:inline;">
					{% endif %}
						{% csrf_token %}
						<input type="text" name="hostid" value="{{ host.id }}" hidden>
						<button type="submit" class="btn btn-sm btn-success btn-flat"><i class="fas fa-terminal"></i> web终端</button>
					</form>
					{% else %}
					<button class="btn btn-sm btn-secondary btn-flat disabled"><i class="fas fa-terminal"></i> web终端</button>
					{% endif %}
					&nbsp;&nbsp;
					{% if host.remote_user and host.enabled %}
						{% if host.get_protocol_display == 'ssh' %}
							<form method="post" target="_blank" onsubmit="clishell(this);return false;" style="display:inline;">
								{% csrf_token %}
								<input type="text" name="hostid" value="{{ host.id }}" hidden>
								<button type="submit" class="btn btn-sm btn-primary btn-flat"><i class="fas fa-network-wired"></i> 客户端终端</button>
							</form>
						{% endif %}
					{% else %}
						<button class="btn btn-sm btn-secondary btn-flat disabled"><i class="fas fa-network-wired"></i> 客户端终端</button>
					{% endif %}
					
				  </td>
                </tr>
				{% endfor %}
                </tbody>
                <tfoot>
                <tr>
				  <th>名称</th>
				  <th>类型</th>
				  <th>环境</th>
				  <th>IP</th>
				  <th>协议</th>
				  <th>端口</th>
				  <th>系统</th>
				  <th>用户名</th>
				  <th>添加时间</th>
				  <th>操作</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
		  {% endblock content %}

{% block js %}
<!-- DataTables -->
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables/dataTables.bootstrap4.js' %}"></script>
<script>
$("#datatables-lists").DataTable({
	language: {
		"sProcessing": "处理中...",
		"sLengthMenu": "显示 _MENU_ 项结果",
		"sZeroRecords": "没有匹配结果",
		"sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
		"sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
		"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
		"sInfoPostFix": "",
		"sSearch": "搜索:",
		"sUrl": "",
		"sEmptyTable": "表中数据为空",
		"sLoadingRecords": "载入中...",
		"sInfoThousands": ",",
		"oPaginate": {
			"sFirst": "首页",
			"sPrevious": "上页",
			"sNext": "下页",
			"sLast": "末页"
		},
		"oAria": {
			"sSortAscending": ": 以升序排列此列",
			"sSortDescending": ": 以降序排列此列"
		}
	},
	destroy: true,	// 允许重建
	bProcessing:true,  // 表格数据过多处理时显示: sProcessing
	lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "全部"]],
	order: [],
	 //scrollY: 480,	// 滚动条
	 //scrollCollapse: true,
	 //jQueryUI: true,
	 stateSave: true,	// 保存最后一次分页信息、排序信息，当页面刷新，或者重新进入这个页面，恢复上次的状态。
	 stateDuration: 86400,	// 本地储存(0~更大)还是session储存(-1) 
});
</script>


<script>
	function clishell(event){	// 创建clishell
		var thisObj = $(event);	//js对象转jquery对象
		var hostid = $(thisObj.find("input[name='hostid']")[0]).val();
		csrfmiddlewaretoken = '{{ request.COOKIES.csrftoken }}';
		var url = "{% url 'webssh:terminal_cli' %}";
		$.ajax({
			url: url,
			type: 'POST',
			timeout: 3000,
			async: false,
			data: {
				'csrfmiddlewaretoken': csrfmiddlewaretoken,
				"hostid": hostid,
			},
			error: function(){
				alert("创建客户端终端错误！请联系管理员");
			},
			success: function(ssh_url){
				window.location.href=ssh_url;
			}
		});
	};
</script>
{% endblock js %}