{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ host.hostname }} - {{ host.ip }} - {{ host.remote_user.username }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
  
  <!-- Toastr -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/toastr/toastr.min.css' %}">
  
  <!-- webssh -->
  <link rel="stylesheet" href="{% static 'webssh/xterm.css' %}">
  <!--link rel="stylesheet" href="{% static 'webssh/style.css' %}"-->
  
  
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.css"/>

</head>
<body>

<span id="hostid" hidden>{{ host.id }}</span>

<div id="terminal"></div>

<!-- jQuery -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- FastClick -->
<script src="{% static 'adminlte/plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>

<!-- Toastr -->
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>

<!-- webssh -->
<script src="{% static 'webssh/xterm.js' %}"></script>
<script src="{% static 'webssh/webssh.js' %}"></script>
<script src="{% static 'webssh/addons/zmodem/zmodem.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.js"></script>
<script>

	let events = [];
	
	rrweb.record({
	  emit(event) {
		// 将 event 存入 events 数组中
		events.push(event);
		// console.log(event);
	  },
	});
	
	// save 函数用于将 events 发送至后端存入，并重置 events 数组
	function save() {
	  const body = JSON.stringify({ events });
	  console.log(body)
	  //const replayer = new rrweb.Replayer(events);
	  //console.log(events)
	  //replayer.play();
	  events = [];
	  //fetch('http://YOUR_BACKEND_API', {
		//method: 'POST',
		//headers: {
		//  'Content-Type': 'application/json',
		//},
		//body,
	  //});
	};
	// 每 10 秒调用一次 save 方法，避免请求过多
	setInterval(save, 20 * 1000);
	
</script>

<script>
	websocket();
</script>

</body>
</html>
