{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>测试</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'asciinema-player/asciinema-player.css' %}">

  
</head>
<body>

<asciinema-player src="/media/{{ log.detail }}"></asciinema-player>

<script src="{% static 'asciinema-player/asciinema-player.js' %}"></script>
</body>
</html>
