{% extends 'base.html' %}
{% load static %}


  {% block title %}
  <title>运维管理系统</title>
  {% endblock title %}
		  
    {% block navheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">仪表盘</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	{% endblock navheader %}


		  {% block content %}
		  <div class="row">
			  <div class="col-lg-3 col-6">
				<a href="{% url 'server:hosts' %}">
					<!-- small box -->
					<div class="small-box bg-info">
					  <div class="inner">
						<h3>{{ host_count }}</h3>
						<p>主机</p>
					  </div>
					  <div class="icon">
						<i class="fas fa-server"></i>
					  </div>
					</div>
				</a>
			  </div>
			  <!-- ./col -->
			  <div class="col-lg-3 col-6">
				<a href="{% url 'user:users' %}">
					<!-- small box -->
					<div class="small-box bg-success">
					  <div class="inner">
						<h3>{{ user_count }}</h3>
						<p>用户</p>
					  </div>
					  <div class="icon">
						<i class="fas fa-user"></i>
					  </div>
					</div>
				</a>
			  </div>
			  <!-- ./col -->
			  <div class="col-lg-3 col-6">
				<a href="{% url 'user:groups' %}">
					<!-- small box -->
					<div class="small-box bg-warning">
					  <div class="inner">
						<h3>{{ group_count }}</h3>
						<p>用户组</p>
					  </div>
					  <div class="icon">
						<i class="fas fa-users"></i>
					  </div>
					</div>
				</a>
			  </div>
			  <!-- ./col -->
			  <div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-danger">
				  <div class="inner">
					<h3>0</h3>
					<p>告警</p>
				  </div>
				  <div class="icon">
					<i class="fas fa-bell"></i>
				  </div>
				</div>
			  </div>
			  <!-- ./col -->
			</div>
			
		  {% endblock content %}
