{% extends 'base.html' %}
{% load static %}


  {% block title %}
  <title>运维管理系统</title>
  {% endblock title %}
		  
    {% block navheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">仪表盘</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	{% endblock navheader %}


		  {% block content %}
		  <div class="row">
			  <div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-info">
				  <div class="inner">
					<h3>{{ host_count }}</h3>
					<p>主机</p>
				  </div>
				  <div class="icon">
					<i class="fas fa-server"></i>
				  </div>
				  <a href="{% url 'server:hosts' %}" class="small-box-footer">查看更多 <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			  </div>
			  <!-- ./col -->
			  <div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-success">
				  <div class="inner">
					<h3>{{ user_count }}</h3>
					<p>用户</p>
				  </div>
				  <div class="icon">
					<i class="fas fa-user"></i>
				  </div>
				  <a href="{% url 'user:users' %}" class="small-box-footer">查看更多 <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			  </div>
			  <!-- ./col -->
			  <div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-warning">
				  <div class="inner">
					<h3>{{ group_count }}</h3>
					<p>用户组</p>
				  </div>
				  <div class="icon">
					<i class="fas fa-users"></i>
				  </div>
				  <a href="{% url 'user:groups' %}" class="small-box-footer">查看更多 <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			  </div>
			  <!-- ./col -->
			  <div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-secondary">
				  <div class="inner">
					<h3>{{ session_count }}</h3>
					<p>在线终端</p>
				  </div>
				  <div class="icon">
					<i class="fas fa-terminal"></i>
				  </div>
				  <a href="{% url 'webssh:sessions' %}" class="small-box-footer">查看更多 <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			  </div>
			  <!-- ./col -->
			</div>
			
		  {% endblock content %}
